doctype html
html
	head
		title login
	body
		form(id="loginform" action="/login" method="post")
			input(id="username" name="username" type="text" placeholder="username")
			br
			input(id="password" name="password" type="password" placeholder="password")
			br
			input(id="sub" type="button" value="登陆")
		script(src="javascripts/ajax.js")
